{% extends 'veterinarioApp/base.html' %}

{% block page_title %}Eliminar Producto{% endblock %}
{% block nav_inventario %}active{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="card border-0 shadow-sm">
        <div class="card-header bg-danger text-white">
            <i class="fas fa-trash-alt me-2"></i>
            Eliminar Producto
        </div>

        <div class="card-body">

            <div class="alert alert-warning">
                ¿Seguro que deseas eliminar este producto? Esta acción es irreversible.
            </div>

            <div class="mb-3">
                <p><strong>Nombre:</strong> {{ object.nombre_producto }}</p>
                <p><strong>Descripción:</strong> {{ object.descripcion }}</p>
                <p><strong>Cantidad:</strong> {{ inventario.cantidad }}</p>
                <p><strong>Precio:</strong> ${{ object.precio_unitario }}</p>
            </div>

            <form method="post">
                {% csrf_token %}

                <div class="d-flex gap-2">
                    <button class="btn btn-danger">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>

                    <a href="{% url 'vet_app:lista_inventario' %}" class="btn btn-secondary">
                        Cancelar
                    </a>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}